<h1>users list</h1>
<form #searchForm="ngForm" (ngSubmit)="handleSearch()">
  <mat-form-field>
    <mat-label>Search user</mat-label>
    <input matInput placeholder="Type here..." type="text" name="searchTerm" [(ngModel)]="searchTerm">
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">search</button>
</form>
<ul>
  <li *ngFor="let user of users">
    <a href="#">{{ user.name }}</a>
  </li>
</ul>
<mat-paginator
  #paginator
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageNumber - 1"
  [pageSize]="perPage"
  [length]="length"
  (page)="handlePageEvent($event)"
></mat-paginator>
<div *ngIf="isFetching" class="loader"></div>
